.search-bar-container {
    margin-top: 10px;
  }
  
  .search-button {
    background-color: #ff4a3d;
    border: none;
    width: 100%;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
  }
  
  .search-button:hover {
    background-color: #e6392e;
  }
  