.transparentSection {
  position: relative;
  height: 100vh;
  background-image: url('../../assets/transparent.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center; /* Center the blocks */
  align-items: center;
  padding: 20px;
  gap: 80px; /* Gap between call to action and button */
  color: white;
}

.callToAction {
  text-align: left;
}

.contactUs {
}

.btn {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
